.detail{
  display: flex;
  flex-direction: column;
  padding: 15px 0px 0px 35px;
  background-image: url(https://assets.soyhenry.com/henry-landing/assets/shapes/shapesHowApply.png);
  background-repeat: no-repeat;
  background-position: right;

}
.a{
  text-decoration: none;
    color: black;
}
.card-box{
  width: 35%;
  margin: 0 auto; 
}

.card-header{
  font-size: 35px;
    text-align: center;
    
}
.card-title{
  font-size: 25px;
}
.card-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.week{
  text-align: initial;
  font-family: 'PT Sans', sans-serif;
  margin-right: 25px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
}

.price{
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.card-body {
  margin-bottom: 60px;
}


.fill {
  text-decoration: none;
  background-color: yellow;
  border: 1px solid yellow;
  color: rgb(46, 46, 46);
  padding: 8px;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  border-radius: 5px;
}