

.cartCourses{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: center;
  margin-bottom:20px;

}

.cartCourses p{
  font-size: 18px;
  text-align: center;


}

.cartCourses h5{
  margin: 0;
}

.cartCourses button{
  text-decoration: none;
  background-color: transparent;
  border: transparent;
}